
main p {
    color: #555;
}

.skills ul {
    list-style-type: none;
    padding: 0;
}

.skills ul li {
    margin-bottom: 5px;
}

.education {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.experience {
    margin-bottom: 20px;
}

.skills {
    margin-bottom: 20px;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #ddd;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin: 10px;
    /* margin-right: 20px; */

}

th, td {
    border: 1px solid #000; /* Black border */
    padding: 10px;
    text-align: left;
}

th {
    background-color: #000; /* Black background */
    color: #fff; /* White text */
}


.education-image {
    width: 50px;
    height: 50px;
    object-fit: cover; 
    border-radius: 50%; 
}