/* contactForm.css */

.container {
    text-align: center;
    margin-top: 50px;
}

.centered-h1 {
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
}

.contact-image {
    max-width: 30%;
    display: block; /* Ensures the image is treated as a block element */
    margin: 0 auto; /* Centers the image horizontally */
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

form {
    max-width: 60%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 1.1em;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 6px;
}

button {
    background-color: #000;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background-color: #4597a0;
}

p {
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 20px;
}
