main {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    margin-bottom: 20vh;
}

.project {
    width: 300px;
    margin: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: transform 0.3s ease-in-out;
}

.project:hover {
    transform: scale(1.05);
}

.project img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
}

.project-content {
    padding: 15px;
}

.project p {
    font-size: 14px;
    color: black;
    line-height: 1.4;
}

.project-button {
    display: inline-block;
    padding: 8px 12px;
    margin-top: 10px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease-in-out;
}

.project-button:hover {
    background-color: #2980b9;
}

p{
    color: black;
}