

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    margin-bottom: 4vh;
}

.testimonial {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 20px;
    width: 300px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.testimonial:hover {
    transform: scale(1.05);
}

.testimonial img {
    width: 100%;
    height: auto;
    border-bottom: 2px solid #007bff;
}

.testimonial-content {
    padding: 20px;
}

.testimonial-content p {
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
}

.client-name {
    font-weight: bold;
    margin-top: 10px;
}
